[submodule "tesseract"]
	path = tesseract
	url = https://github.com/tesseract-ocr/tesseract
[submodule "leptonica"]
	path = leptonica
	url = https://github.com/DanBloomberg/leptonica
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng
[submodule "libtiff"]
	path = libtiff
	url = https://gitlab.com/libtiff/libtiff.git
